## Getting Started

In this exercise I will use the features I previously engineered using R and Kaggle Mercari Price challenge data set. 

We will start with loading the libraries and functions we will need during the modeling.

In [1]:
import pandas as pd
import numpy as np
import os
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.callbacks import EarlyStopping

In [3]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Deep+Learning+using+Mercari+Data+set.ipynb',
 'mini_subtrain.csv',
 'subtrain.csv',
 'validation.csv']

In [13]:
#First load the mini subtraining set we prepared previously
mini_subtrain = pd.read_csv("mini_subtrain.csv", index_col = 0)
mini_subtrain.shape
mini_subtrain.head()

,item_condition_id,price,shipping,no.brand_name,log.excl.description,excl.name,dollar.description,fancy.categories,cheap.categories,fancy.brands,...,now,cheap,buy,excellent,great,michael.brand,jordan.name,iphon.name,bundl.name,cap.letter.brand
1,1,8.0,0,1,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,39.0,1,1,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,30.0,1,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2,470.0,1,0,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,6
5,2,22.0,0,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [15]:
mini_subtrain.describe()

,item_condition_id,price,shipping,no.brand_name,log.excl.description,excl.name,dollar.description,fancy.categories,cheap.categories,fancy.brands,...,now,cheap,buy,excellent,great,michael.brand,jordan.name,iphon.name,bundl.name,cap.letter.brand
count,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,...,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000
mean,1.902876,26.581045,0.449630,0.428776,0.461340,0.078266,0.018319,0.003480,0.005126,0.009820,...,0.032752,0.005315,0.031835,0.031134,0.102412,0.008229,0.008013,0.020774,0.051395,1.589732
std,0.901044,36.188265,0.497463,0.494908,0.985842,0.559334,0.231276,0.058892,0.071413,0.098611,...,0.198214,0.076683,0.211528,0.175689,0.330199,0.090339,0.089156,0.142628,0.220805,1.198543
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,3.000000,29.000000,1.000000,1.000000,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,5.000000,1106.000000,1.000000,1.000000,11.332853,21.000000,14.000000,1.000000,1.000000,1.000000,...,4.000000,3.000000,6.000000,2.000000,4.000000,1.000000,1.000000,1.000000,1.000000,17.000000

In [16]:
mini_subtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37066 entries, 1 to 37066
Data columns (total 27 columns):
item_condition_id       37066 non-null int64
price                   37066 non-null float64
shipping                37066 non-null int64
no.brand_name           37066 non-null int64
log.excl.description    37066 non-null float64
excl.name               37066 non-null int64
dollar.description      37066 non-null int64
fancy.categories        37066 non-null int64
cheap.categories        37066 non-null int64
fancy.brands            37066 non-null int64
cheap.brands            37066 non-null int64
sale                    37066 non-null int64
free                    37066 non-null int64
save                    37066 non-null int64
deal                    37066 non-null int64
good                    37066 non-null int64
steal                   37066 non-null int64
now                     37066 non-null int64
cheap                   37066 non-null int64
buy                     37066 non-null int64
excellent               37066 non-null int64
great                   37066 non-null int64
michael.brand           37066 non-null int64
jordan.name             37066 non-null int64
iphon.name              37066 non-null int64
bundl.name              37066 non-null int64
cap.letter.brand        37066 non-null int64
dtypes: float64(2), int64(25)
memory usage: 7.9 MB

After sucessfully reading the verifying the training data set we have previously constructed using R, we can start building a small neural network and training it by using our data.

First we start with seperating predictors and response arrays:

In [24]:
predictors = np.array(mini_subtrain.drop(["price"], axis=1))
# We will log transform the target variable as we have performed in R
target = np.array(np.log(mini_subtrain.price + 1))

(37066,)