## Getting Started

In this exercise I will use the features I previously engineered using R and Kaggle Mercari Price challenge data set. 

We will start with loading the libraries and functions we will need during the modeling.

In [1]:
import pandas as pd
import numpy as np
import os
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from sklearn.metrics import mean_squared_error
np.random.seed(12345)

Using TensorFlow backend.
/Users/OZANAYGUN/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [3]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Deep+Learning+using+Mercari+Data+set.ipynb',
 'mini_subtrain.csv',
 'subtrain.csv',
 'validation.csv']

In [13]:
#First load the mini subtraining set we prepared previously
mini_subtrain = pd.read_csv("mini_subtrain.csv", index_col = 0)
mini_subtrain.shape
mini_subtrain.head()

,item_condition_id,price,shipping,no.brand_name,log.excl.description,excl.name,dollar.description,fancy.categories,cheap.categories,fancy.brands,...,now,cheap,buy,excellent,great,michael.brand,jordan.name,iphon.name,bundl.name,cap.letter.brand
1,1,8.0,0,1,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,39.0,1,1,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,30.0,1,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2,470.0,1,0,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,6
5,2,22.0,0,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [15]:
mini_subtrain.describe()

,item_condition_id,price,shipping,no.brand_name,log.excl.description,excl.name,dollar.description,fancy.categories,cheap.categories,fancy.brands,...,now,cheap,buy,excellent,great,michael.brand,jordan.name,iphon.name,bundl.name,cap.letter.brand
count,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,...,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000,37066.000000
mean,1.902876,26.581045,0.449630,0.428776,0.461340,0.078266,0.018319,0.003480,0.005126,0.009820,...,0.032752,0.005315,0.031835,0.031134,0.102412,0.008229,0.008013,0.020774,0.051395,1.589732
std,0.901044,36.188265,0.497463,0.494908,0.985842,0.559334,0.231276,0.058892,0.071413,0.098611,...,0.198214,0.076683,0.211528,0.175689,0.330199,0.090339,0.089156,0.142628,0.220805,1.198543
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,3.000000,29.000000,1.000000,1.000000,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,5.000000,1106.000000,1.000000,1.000000,11.332853,21.000000,14.000000,1.000000,1.000000,1.000000,...,4.000000,3.000000,6.000000,2.000000,4.000000,1.000000,1.000000,1.000000,1.000000,17.000000

In [16]:
mini_subtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37066 entries, 1 to 37066
Data columns (total 27 columns):
item_condition_id       37066 non-null int64
price                   37066 non-null float64
shipping                37066 non-null int64
no.brand_name           37066 non-null int64
log.excl.description    37066 non-null float64
excl.name               37066 non-null int64
dollar.description      37066 non-null int64
fancy.categories        37066 non-null int64
cheap.categories        37066 non-null int64
fancy.brands            37066 non-null int64
cheap.brands            37066 non-null int64
sale                    37066 non-null int64
free                    37066 non-null int64
save                    37066 non-null int64
deal                    37066 non-null int64
good                    37066 non-null int64
steal                   37066 non-null int64
now                     37066 non-null int64
cheap                   37066 non-null int64
buy                     37066 non-null int64
excellent               37066 non-null int64
great                   37066 non-null int64
michael.brand           37066 non-null int64
jordan.name             37066 non-null int64
iphon.name              37066 non-null int64
bundl.name              37066 non-null int64
cap.letter.brand        37066 non-null int64
dtypes: float64(2), int64(25)
memory usage: 7.9 MB

After sucessfully reading the verifying the training data set we have previously constructed using R, we can start building a small neural network and training it by using our data.

First we start with seperating predictors and response arrays:

In [24]:
predictors = np.array(mini_subtrain.drop(["price"], axis=1))
# We will log transform the target variable as we have performed in R
target = np.array(np.log(mini_subtrain.price + 1))

(37066,)

Next we can start building our network:

In [31]:
estop_monitor = EarlyStopping(patience= 2)
pre_shape = (predictors.shape[1],)
model = Sequential()
model.add(Dense(10,activation= "relu", input_shape = pre_shape))
model.add(Dense(10,activation= "relu"))
model.add(Dense(1,activation = "relu"))
model.compile(optimizer= "adam", loss= "mean_squared_error")
model_1 = model.fit(predictors,target, epochs= 30, callbacks= [estop_monitor], validation_split= 0.3)

Train on 25946 samples, validate on 11120 samples
Epoch 1/30
25946/25946 [==============================] - 3s 98us/step - loss: 1.3796 - val_loss: 0.5341
Epoch 2/30
25946/25946 [==============================] - 1s 56us/step - loss: 0.4969 - val_loss: 0.4515
Epoch 3/30
25946/25946 [==============================] - 1s 56us/step - loss: 0.4742 - val_loss: 0.4472
Epoch 4/30
25946/25946 [==============================] - 1s 55us/step - loss: 0.4719 - val_loss: 0.4500
Epoch 5/30
25946/25946 [==============================] - 2s 66us/step - loss: 0.4720 - val_loss: 0.4457
Epoch 6/30
25946/25946 [==============================] - 2s 65us/step - loss: 0.4704 - val_loss: 0.4510
Epoch 7/30
25946/25946 [==============================] - 2s 64us/step - loss: 0.4698 - val_loss: 0.4503

Note that our loss function is "mean squared error". We will take the square root of this to follow "root mean squared error" (RMSE). We also keep in mind that the target is log transformed.

In [34]:
RMSE_model_1 = np.sqrt(min(model_1.history["val_loss"]))
RMSE_model_1

0.66764026261785125

Note that this RMSE is close to what we have obtained other machine learning algorithms previously. Therefore, we will continue our experiment by increasing model complexity:

In [41]:
estop_monitor = EarlyStopping(patience= 2)
pre_shape = (predictors.shape[1],)
model = Sequential()
model.add(Dense(1000,activation= "relu", input_shape = pre_shape))
model.add(Dense(1000,activation= "relu"))
model.add(Dense(1,activation = "relu"))
model.compile(optimizer= "adam", loss= "mean_squared_error")
model_2 = model.fit(predictors,target, epochs= 30, callbacks= [estop_monitor], validation_split= 0.3)
RMSE_model_2 = np.sqrt(min(model_2.history["val_loss"]))
RMSE_model_2

Train on 25946 samples, validate on 11120 samples
Epoch 1/30
25946/25946 [==============================] - 25s 953us/step - loss: 0.6853 - val_loss: 0.4837
Epoch 2/30
25946/25946 [==============================] - 25s 949us/step - loss: 0.4860 - val_loss: 0.4547
Epoch 3/30
25946/25946 [==============================] - 25s 968us/step - loss: 0.4801 - val_loss: 0.4599
Epoch 4/30
25946/25946 [==============================] - 29s 1ms/step - loss: 0.4754 - val_loss: 0.4593

0.67429454720879667

It looks like our first model is already at its capacity.

In [43]:
estop_monitor = EarlyStopping(patience= 2)
pre_shape = (predictors.shape[1],)
model = Sequential()
model.add(Dense(10,activation= "relu", input_shape = pre_shape))
model.add(Dense(10,activation= "relu"))
model.add(Dense(10,activation= "relu"))
model.add(Dense(1,activation = "relu"))
model.compile(optimizer= "adam", loss= "mean_squared_error")
model_3 = model.fit(predictors,target, epochs= 30, callbacks= [estop_monitor], validation_split= 0.3)
RMSE_model_3 = np.sqrt(min(model_3.history["val_loss"]))
RMSE_model_3

Train on 25946 samples, validate on 11120 samples
Epoch 1/30
25946/25946 [==============================] - 3s 111us/step - loss: 1.0952 - val_loss: 0.4894
Epoch 2/30
25946/25946 [==============================] - 2s 72us/step - loss: 0.4874 - val_loss: 0.4550
Epoch 3/30
25946/25946 [==============================] - 2s 72us/step - loss: 0.4755 - val_loss: 0.4524
Epoch 4/30
25946/25946 [==============================] - 2s 72us/step - loss: 0.4727 - val_loss: 0.4561
Epoch 5/30
25946/25946 [==============================] - 2s 66us/step - loss: 0.4711 - val_loss: 0.4517
Epoch 6/30
25946/25946 [==============================] - 2s 71us/step - loss: 0.4686 - val_loss: 0.4507
Epoch 7/30
25946/25946 [==============================] - 2s 68us/step - loss: 0.4679 - val_loss: 0.4551
Epoch 8/30
25946/25946 [==============================] - 2s 84us/step - loss: 0.4683 - val_loss: 0.4571

0.67136944170640311

Looks like we reached to model capacity even with a relatively simple network. Next, we will try if we can reduce the bias by training a larger data set, which we have available.

In [2]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Deep+Learning+using+Mercari+Data+set.ipynb',
 'mini_subtrain.csv',
 'subtrain.csv',
 'validation.csv']

In [3]:
subtrain = pd.read_csv("subtrain.csv",index_col=0)

In [4]:
subtrain.shape

(741269, 27)

In [12]:
#We need to check for missing values in the data set
subtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 741269 entries, 1 to 741269
Data columns (total 27 columns):
item_condition_id       741269 non-null int64
price                   741269 non-null float64
shipping                741269 non-null int64
no.brand_name           741269 non-null int64
log.excl.description    741268 non-null float64
excl.name               741269 non-null int64
dollar.description      741268 non-null float64
fancy.categories        741269 non-null int64
cheap.categories        741269 non-null int64
fancy.brands            741269 non-null int64
cheap.brands            741269 non-null int64
sale                    741268 non-null float64
free                    741268 non-null float64
save                    741268 non-null float64
deal                    741268 non-null float64
good                    741268 non-null float64
steal                   741268 non-null float64
now                     741268 non-null float64
cheap                   741268 non-null float64
buy                     741268 non-null float64
excellent               741268 non-null float64
great                   741268 non-null float64
michael.brand           741269 non-null int64
jordan.name             741269 non-null int64
iphon.name              741269 non-null int64
bundl.name              741269 non-null int64
cap.letter.brand        741269 non-null int64
dtypes: float64(14), int64(13)
memory usage: 158.4 MB

In [7]:
y = np.log(subtrain.price + 1)
X = subtrain.drop(["price"],axis = 1).as_matrix()

13

In [8]:
estop_monitor = EarlyStopping(patience= 2)
pre_shape = (X.shape[1],)
model = Sequential()
model.add(Dense(10,activation= "relu", input_shape = pre_shape))
model.add(Dense(10,activation= "relu"))
model.add(Dense(10,activation= "relu"))
model.add(Dense(1,activation = "relu"))
model.compile(optimizer= "adam", loss= "mean_squared_error")
model_4 = model.fit(X,y, epochs= 30, callbacks= [estop_monitor], validation_split= 0.3)
RMSE_model_4 = np.sqrt(min(model_4.history["val_loss"]))
RMSE_model_4

Train on 518888 samples, validate on 222381 samples
Epoch 1/30
518888/518888 [==============================] - 39s 75us/step - loss: 0.5200 - val_loss: nan
Epoch 2/30
518888/518888 [==============================] - 38s 74us/step - loss: 0.4707 - val_loss: nan

NameError: name 'model_3' is not defined

nan